.skill__container {
    margin: 5em 0;
    border : 2px solid white;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Add this line */
    row-gap: 1em; /* Add this line */
    column-gap: 1em; /* Add this line */
}    



@media (min-width: 768px) {
    .skill__container {
        margin: 5em 5em 0;
        grid-template-columns: repeat(3, 1fr); 
    }
}